html,body{
    width: 100%;
    height: 100%;
    background-color: green;

}

.extrasmall{
    display: none;
}

.small{
    display: none;
}

.medium{
    display: none;
}

.large{
    display: none;
}

.extralarge{
    display: none;
}

.extraextralarge{
    display: none;
}

/*XS*/
@media (max-width: 576px){
    html, body{
        background-color: red;
    }

    .extrasmall{
        display: block;
    }
}

/*Small*/
@media (min-width:577px) and (max-width:767px){
    html, body{
        background-color: orange;
    }

    .small{
        display: block;
    }
}

/*Medium*/
@media (min-width:768px) and (max-width:991px){
    html, body{
        background-color: blue;
    }

    .medium{
        display: block;
    }
}

/*Large*/
@media (min-width:992px) and (max-width:1199px){
    html, body{
            background-color: yellow;
        }

        .large{
            display: block;
        }
}

/*XL*/
@media (min-width:1200px) and (max-width:1399px){
    html, body{
            background-color: pink;
        }

        .extralarge{
            display: block;
        }
}

/*XXL*/
@media (min-width:1400px){
    html, body{
            background-color: lightgreen;
        }

        .extraextralarge{
            display: block;
        }
}
